@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../fonts/TTlakes/TTLakes-Regular.eot');
  src: url('../fonts/TTlakes/TTLakes-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/TTlakes/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTlakes/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes Medium';
  src: url('../fonts/TTlakes/TTLakes-Medium.eot');
  src: url('../fonts/TTlakes/TTLakes-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/TTlakes/TTLakes-Medium.woff') format('woff'),
    url('../fonts/TTlakes/TTLakes-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes Bold';
  src: url('../fonts/TTlakes/TTLakes-Bold.eot');
  src: url('../fonts/TTlakes/TTLakes-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/TTlakes/TTLakes-Bold.woff') format('woff'),
    url('../fonts/TTlakes/TTLakes-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
